:root {
    --white: #f0d9b5;
    --black: #b58863;
    --background-color:rgb(23, 21, 24);
    --button-color:rgb(188, 119, 209);
    --text-color: #fdfdfe;
    --font-text: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    --font-padding: 20px;
    --board-size: min(70vh, 70vw);
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    font-family: var(--font-text);
    font-padding: var(--font-padding);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: var(--board-size);
    height: var(--board-size);
    outline: 1px solid black;
    margin: 10px auto;
}

.square {
    width: calc(var(--board-size) / 8);
    height: calc(var(--board-size) / 8);
}

.square:nth-child(odd) {
    background-color: var(--black);
}

.square:nth-child(even) {
    background-color: var(--white);
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: var(--board-size);
    margin: 10px auto;
}

btn {
    background-color: var(--background-color);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    flex: 1;
    max-width: calc(var(--board-size) / 4 - 8px);
} 

.btn:hover {
    background-color: var(--button-color);
    transform: translateY(-2px);
} 


/* .btn {
    margin-top: 20px;
    justify-content: center;
    gap: 10px;
    color: #fff;
    background-color: var(--background-color);
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.3s ease;
} */
